@import "../../assets/scss/common.scss";
.VerticalMenu {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid $borderColor;
  padding: 0px 10px;

  margin-left: 15px;
  position: relative;

  .LabelMenu {
    border-left: 7px solid $orangeColor;
    color: $whiteColor;
    background: $darkTextColor;
    margin: 0px -11px;

    line-height: 30px;
    text-align: left;
    padding: 10px;
    text-transform: uppercase;
  }

  .ItemList {
    list-style: none;
    margin: 0px;
    padding: 0px;
    li {
      border-bottom: 2px dotted $borderColor;
      color: $orangeColor;
      text-transform: uppercase;
      font-weight: bold;

      text-indent: 10px;
      text-align: left;
      line-height: 40px;
      cursor: pointer;
    }

    li:hover {
      background: $backgroundHeaderTable;
    }
    li:last-child {
      border-bottom: none;
    }
  }

  .BorderLv1 {
    position: absolute;
    border: 2px solid #c3c3c3;
    bottom: -6px;
    height: 19px;
    width: 85%;
    border-radius: 20px 20px;
    left: 7%;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
  }

  .BorderLv2 {
    width: 74%;
    position: absolute;
    bottom: -11px;
    height: 17px;
    border: 2px solid #c3c3c3;
    border-radius: 20px 20px;
    left: 12%;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
  }
}
