@import "../../assets/scss/common.scss";


@media all and (max-width: 1600px) {
  .ContainerBodyLeft {
  flex: 1;
  .ContainerChild {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;

    .Image{
      flex: 1;
      align-self: center;
      img {
        min-width: 200px;
      }
    }
    .Info{
      flex: 3;
       min-width:300px;
    }
    .ContactForm {
      flex: 1;
      min-width:300px;
    }
    .Map{
      flex: 1;
      min-width:300px;
    }
  }
}
}

@media all and (max-width: 768px) {
}

@media all and (max-width: 480px) {
  .ContainerBodyLeft {
  flex: 1;
  .ContainerChild {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;

    .Image{
      display: flex;
      flex: 1;
      justify-content: center;
      img {
        min-width: 200px;
      }
    }
    .Info{
      flex: 3;
       min-width:300px;
    }
    .ContactForm {
      flex: 1;
      min-width:300px;
    }
    .Map{
      flex: 1;
      min-width:300px;
    }
  }
}
}

