$orangeColor: #ff9c00;
$darkOrangeColor: #ff7e00;
$redColor: #ed4c4c;
$greenColor: #01c4c4;

$whiteColor: #ffffff;
$borderColor: #c3c3c3;
$colorActive: rgba(255, 255, 255, 0.08) none repeat scroll 0 0;
$textColor: #aaaaaa;

$blackColor: #000;
$darkTextColor: #3c3f44;
$backgroundColor: #f3f3f3;
$outlineInputColor: #64d5f1d6;

$backgroundHeaderTable: #eaeaea;
$borderTabel: #ddd;
$backgroundFooter: #3c3f44;
$validColor: #1a9d1af7;
.App {
  background: $backgroundColor;
}

.ContainerBody {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px 5%;
  .ContainerBodyLeft {
    flex: 1;
  }

  .ContainerBodyRight {
    flex-direction: column;
    flex: 3;
    padding: 10px 15px;
    min-width: 300px;
  }
}

@media all and (max-width: 1600px) {
  .ContainerMain {
    flex-direction: row;
    flex: 1;
    .ContainerInput {
      display: flex;
      flex: 1;
      flex-direction: column;

      .Input {
        display: flex;
        flex: 1;
        position: relative;

        input[type="date"],
        input[type="password"],
        input[type="text"],
        select,
        textarea {
          flex: 1;
          outline-color: $outlineInputColor !important;
          padding: 8px;

          border-radius: 5px 5px 5px 5px;
          border: 1px solid $borderColor;
        }

        .IconValid {
          display: none;
          position: absolute;
          z-index: 2;
          right: 0px;
          top: 10px;
          color: $validColor;
        }
      }
      .Error {
        padding: 6px 0px;
        display: none;
        .IconInvalid {
          color: $redColor;
        }
        span {
          color: $redColor;
          padding: 5px;
        }
      }
    }

    .InputValid {
      .Input {
        input,
        select {
          border: 1px solid $validColor !important;
        }
        .IconValid {
          display: inline;
        }
      }

      .Error {
        display: none;
      }
    }

    .InputInvalid {
      .Input {
        input,
        select {
          border: 1px solid $redColor !important;
          padding-left: 8px;
        }
        .IconValid {
          display: none;
        }
      }
      .Error {
        display: inline;
      }
    }
  }
}

@media all and (max-width: 768px) {
}

@media all and (max-width: 480px) {
  .ContainerMain {
    flex-direction: row;
    flex: 1;
    .ContainerInput {
      display: flex;
      flex: 1;
      flex-direction: column;

      .Input {
        display: flex;
        flex: 1;
        position: relative;
        input[type="password"],
        input[type="text"],
        select,
        textarea {
          flex: 1;
          outline-color: $outlineInputColor !important;
          padding: 8px;

          border-radius: 5px 5px 5px 5px;
          border: 1px solid $borderColor;
        }

        .IconValid {
          display: none;
          position: absolute;
          z-index: 2;
          right: 0px;
          top: 10px;
          color: $validColor;
        }
      }
      .Error {
        padding: 6px 0px;
        display: none;
        .IconInvalid {
          color: $redColor;
        }
        span {
          color: $redColor;
          padding: 5px;
        }
      }
    }

    .InputValid {
      .Input {
        input[type="password"],
        input[type="text"],
        select {
          border: 1px solid $validColor !important;
        }
        .IconValid {
          display: inline;
        }
      }

      .Error {
        display: none;
      }
    }

    .InputInvalid {
      .Input {
        input[type="password"],
        input[type="text"],
        select {
          border: 1px solid $redColor !important;
          padding-left: 8px;
        }
        .IconValid {
          display: none;
        }
      }
      .Error {
        display: inline;
      }
    }
  }
}
