@import "../../assets/scss/common.scss";
.NavigateQuickly {
  .MenuLink {
    text-decoration: none;
    line-height: 35px;
    .Active {
      color: $orangeColor !important;
      font-weight: bold;
    }

    .ContentLink {
      color: $darkTextColor;
      .IconRight {
        margin: -1px 7px;
        color: $darkTextColor;
      }
    }
    span:hover {
      color: $redColor !important;
    }
  }
}
