@import "../../assets/scss/common.scss";

.ContainerNews {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px 70px;
  .ContainerLeft {
    flex: 1;
    .News {
      margin-top: 20px;
      .VerticalMenu{
        .LabelMenu {
          background: $blackColor;
        }
      }
    }

    .NewsHighlight {
      margin-top: 20px;
    }
  }

  .ContainerRight {
    flex-direction: column;
    flex: 3;
    padding: 10px 15px;
    min-width: 300px;
    .Header {
        .ProductContent{
          h1{
            color: $blackColor;
          }
        }
      }
  }
}
