@import "../../assets/scss/common.scss";
.Input {
  flex-direction: row;
  flex: 1;
  margin: 0px 10px;
  // background: red;
  .ContainerInput {
    display: flex;
    flex: 1;
    flex-direction: column;

    .Input {
      display: flex;
      flex: 1;
      position: relative;
      input[type="text"] {
        flex: 1;
        outline-color: $outlineInputColor !important;
        padding: 8px;

        border-radius: 5px 5px 5px 5px;
        border: 1px solid $borderColor;
      }

      .IconValid {
        display: none;
        position: absolute;
        z-index: 2;
        right: 2px;
        top: 9px;
        color: $validColor;
      }
    }
    .Error {
      padding: 6px 0px;
      display: none;
      .IconInvalid {
        color: $redColor;
      }
      span {
        color: $redColor;
        padding: 5px;
      }
    }
  }

  .InputValid {
    .Input {
      input {
        border: 2px solid $validColor !important;
      }
      .IconValid 
      {
        display: inline;
      }
    }
    
    .Error {
      display: none;
    }
  }

  .InputInvalid {
    .Input {
      input {
        border: 2px solid $redColor !important;
        padding-left:8px;
      }
      .IconValid 
      {
        display: none ;
      }
    }
    .Error {
      display: inline;
    }
  }
}
