@import "../../assets/scss/common.scss";
.Input {
  flex-direction: row;
  flex: 1;
  // margin: 0px 10px;
  // background: red;
  .ContainerInput {
    display: flex;
    flex: 1;
    flex-direction: column;

    .Input {
      display: flex;
      flex: 1;
      position: relative;
      height: 40px;
      .ContainerIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: inherit;

        border-radius: 5px 0px 0px 5px;
        background: $textColor;
        font-size: 20px;
      }

      input[type="text"] {
        flex: 1;
        outline-color: $outlineInputColor !important;
        padding: 8px;

        border-radius: 5px 5px 5px 5px;
        border: 1px solid $borderColor;
      }
      .NoneBorderLeft {
        border-radius: 0px 5px 5px 0px !important;
      }
      .IconValid {
        display: none;
        position: absolute;
        z-index: 2;
        right: 1px;
        top: 8px;
        color: $validColor;
      }
    }
    .Error {
      padding: 6px 0px;
      display: none;
      .IconInvalid {
        color: $redColor;
      }
      span {
        color: $redColor;
        padding: 5px;
      }
    }
  }

  .InputValid {
    .Input {
      input {
        border: 1px solid $validColor !important;
      }
      .IconValid {
        display: inline;
      }
    }

    .Error {
      display: none;
    }
  }

  .InputInvalid {
    .Input {
      input {
        border: 1px solid $redColor !important;
        padding-left: 8px;
      }
      .IconValid {
        display: none;
      }
    }
    .Error {
      display: inline;
    }
  }
}
