@import "../../assets/scss/common.scss";
@media all and (max-width: 1600px) {
  .ForgetPasswordSection {
     display: flex;
    flex: 1;
    justify-content: space-around;
    .ForgetPasswordForm {
      display: flex;
      flex: 1;
      flex-direction: column;
      max-width: 500px;
      .Input {
        .ContainerInput {
          margin-bottom: 20px;
        }
      }
      .ContainerButton {
        .Button {
          color: $whiteColor;
          background: $redColor;
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
}

@media all and (max-width: 480px) {
}
